body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.section1{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(image/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.nav{
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
}
.meneu ul{
    display: flex;
    list-style-type: none;
}
.meneu ul li{
    padding-right: 4vw;

}
.meneu ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color:white;
    font-weight: 500;
    font-size: 1.2vw;
}
.meneu ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: crimson;
    display: block;
    margin: auto;
    transition: all .5s ease-in-out;
}
.meneu ul li:hover::after{
    width: 100%;
}
span{
    color: crimson;
}
.nav .logo{
    color: white;
    font-size: 1vw;
    word-spacing: .3vw;
}
.subscribe button{
    padding: .7vw 2.5vw;
    border: none;
    background-color: crimson;
    color: white;
    font-size: 1.3vw;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    transition:all .7s ease-in;
}
.subscribe button:hover{
    background-color: lightseagreen;
    color: crimson;
}
.nav i{
    font-size: 1vw;
    color: white;
    font-weight: bold;
    display: none;
}
.social{
    width: 4vw;
    height: 20vw;
    background: white;
    position: fixed;
    top: 35%;
    left: 20px;
    border-radius: 30px;
    box-shadow:  10px 10px 30px   crimson, -10px -10px 30px   crimson ;
}
.social a{
    text-decoration: none;
}
.social i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5vw;
    margin-bottom: -5px;
    font-size: 2vw;
    color: crimson;
    cursor: pointer;
}
.input1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.input1 h1{
    color: #fff;
    font-size: 3vw;
}
.input1 h2{
    color: #fff;
    font-size: 2vw;
    margin-top: 1px;
}
.input1 p{
    color: #fff;
    width: 50vw;
    text-align: center;
    font-size: 1vw;
    margin-top: 1px;
}
.input1 .btn1{
    color: #fff;
    text-decoration: none;
    border: 1px solid crimson;
    padding: 1vw 4vw;
    position: relative;
    margin-top: 20px;
    z-index: 3;
    border-radius: 3px;
}
.input1 .btn1::before{
    content: '';
    width: 0%;
    height: 100%;
    background-color: crimson;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    transition: all 1s ease-in-out;
    z-index: -2;
}
.input1 .btn1:hover::before{
    width: 100%;  
}


@media (max-width:750px){ 
    .subscribe{
       display: none;
    }
    .meneu ul{
        display: block;
    }
    .meneu ul li a{
        font-size: 4.5vw;
        line-height: 15vw;
    }
    .meneu{
        position: absolute;
        background: transparent;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        z-index: 80;
        text-align: left;
        display: none;
        backdrop-filter: blur(50px);
    }
    .nav .logo{
        font-size: 3vw;
    }
    .nav i{
        display: block;
        font-size: 8vw;
        margin-left: 1vw;
        cursor: pointer;
    }
    .meneu ul li:hover::after{
        background-color: #fff;
        margin-left: 0;
    }
    .input1 h1{
        font-size: 6vw;
    }
    .input1 h2{
        font-size: 5vw;
    }
    .input1 p{
        font-size: 3vw;
        width: 100%;
    }
    .input1 .btn1{
        font-size: 4vw;
        padding: 3vw 8vw ;
    }
    .social{
        width: 10vw;
        height: 50vw;
    }
    .social i{
        margin-top: 7vw;
        margin-bottom: -10px;
        font-size: 6vw;
    }
}